$theme-colors: (
  "primary": #ea5b0c,
  "dark": #113847,
);
$body-bg: #fdfdfd;
$body-color: #333;


html,body,#root {
    height: 100%;
}

.cut-left {
    position: relative;
    overflow: hidden;
    z-index:1;
  }

  .cut-left:before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 30%;
    bottom: -20%;
    background: $body-bg;
    transform: rotate(10deg);
    z-index:2;
  }

  .cut-top {
    position: relative;
    overflow: hidden;
    z-index:1;
  }
  .cut-top:before {
    content: '';
    position: absolute;
    top: -20%;
    right: -20%;
    left: -20%;
    height: 30%;
    background: $body-bg;
    z-index:2;
    transform: rotate(-15deg);
  }
  
  img.semi-transparent {
    opacity:0.17;
}
.border-bottom-fat {
    border-bottom: map-get($map: $theme-colors, $key: "primary") 0.3rem solid !important;
}

.border-top-fat {
    border-top: map-get($map: $theme-colors, $key: "primary") 0.3rem solid !important;
}

.bg-light2 {
  background-color: #eee;
}

.embed-container {
  position: relative; 
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
}
.embed-container iframe {

  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
/* ratio 4x3 */
.embed-container.ratio4x3 {
  padding-bottom: 75%;
}

@import "~bootstrap/scss/bootstrap";

    
